@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato");
/* variables */
/* mixins etc */
h1, button {
  text-transform: uppercase;
  font-variant: small-caps;
  color: #cccccc; }

h2 {
  text-transform: lowercase;
  font-variant: small-caps;
  color: #d9d9d9; }

/* native */
html, body, ul, ol {
  margin: 0;
  padding: 0; }

h1:before {
  content: "„ "; }
h1:after {
  content: " ”"; }

button {
  background: none;
  border: 2px solid #cccccc;
  font-weight: bolder;
  padding: 5px 30px;
  font-size: 1.5em;
  transition: 0.3s ease; }
  button:hover {
    background: #cccccc;
    color: #ffffff; }
  button:focus {
    outline: none; }

* {
  box-sizing: border-box; }

/* preloader */
.preloader {
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000; }

/* preview */
.preview {
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  text-align: center;
  background: #f9f9f9;
  vertical-align: bottom; }
  .preview div {
    width: 100%;
    height: 100%;
    position: relative;
    resize: vertical; }
    .preview div img {
      z-index: 11000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      resize: vertical;
      display: none;
      max-height: 98%;
      max-width: 98%;
      -webkit-box-shadow: 4px 4px 20px 0px #000;
      -moz-box-shadow: 4px 4px 20px 0px #000;
      box-shadow: 4px 4px 20px 0px #000; }

/* page */
body {
  background: #ffffff;
  font-family: Lato;
  color: #cccccc;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.1em; }
  body header, body section, body footer {
    float: left;
    width: 100%;
    border-bottom: 2px solid #f9f9f9; }
  body header {
    padding: 40px;
    text-align: center; }
    body header h1 {
      font-size: 3em; }
    body header h2 {
      font-size: 2em; }
    body header h1, body header h2 {
      animation: titlePulse infinite 2s alternate; }
@keyframes titlePulse {
  from {
    opacity: 1; }
  to {
    opacity: 0.4; } }
  body section {
    padding: 40px auto; }
    body section .tile h1 {
      text-align: center;
      background: #eeeeee;
      color: #ffffff;
      width: 100%;
      padding: 10px 0;
      margin-top: 200px; }
    body section .tile > div {
      max-width: 30%;
      margin: 40px auto 200px auto; }
      body section .tile > div .painting {
        display: block;
        position: relative;
        max-width: 100%;
        padding: 0;
        -webkit-box-shadow: 4px 4px 20px 0px #888;
        -moz-box-shadow: 4px 4px 20px 0px #888;
        box-shadow: 4px 4px 20px 0px #888;
        transition: 0.5s ease; }
        body section .tile > div .painting:hover {
          -webkit-box-shadow: 4px 4px 30px 0px #888;
          -moz-box-shadow: 4px 4px 30px 0px #888;
          box-shadow: 4px 4px 30px 0px #888;
          filter: grayscale(0);
          transform: scale(1.05, 1.05); }
  body footer {
    padding: 40px;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
