@import url('https://fonts.googleapis.com/css?family=Lato');

/* variables */
$fair: #f9f9f9;
$veryfair: #ffffff;

$fairtext: #cccccc;
$veryfairtext: #d9d9d9;

$darkshadow: #000;
$mediumshadow: #888;
/* mixins etc */
@mixin box-shadow($top, $left, $blur, $size, $color) {

    -webkit-box-shadow: $top $left $blur $size $color;
    -moz-box-shadow: $top $left $blur $size $color;
    box-shadow: $top $left $blur $size $color;
}

@mixin text-shadow($top, $left, $blur, $color) {

    -webkit-text-shadow: $top $left $blur $color;
    -moz-text-shadow: $top $left $blur $color;
    text-shadow: $top $left $blur $color;
}

@mixin border-radius($radius){
    border-radius: $radius;
    -ms-border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

%title {
    text-transform: uppercase;
    font-variant: small-caps;
    color: $fairtext;
}
%subtitle {
    text-transform: lowercase;
    font-variant: small-caps;
    color: $veryfairtext;
}

/* native */
html, body, ul, ol {
    margin: 0;
    padding: 0;
}

h1 {
    @extend %title;
    &:before {
        content: ",, ";
    }
    &:after {
        content: " ''";
    }
}
h2 {
    @extend %subtitle;
}
* {
    box-sizing: border-box;
}
/* preloader */
.preloader {
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
}
/* preview */
.preview {
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    text-align: center;
    background: $fair;
    vertical-align: bottom;
    
    div {
        width: 100%;
        height: 100%;
        position: relative;
        resize: vertical;
        
        img {
            z-index: 11000;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            resize: vertical;
            
            max-height: 98%;
            max-width: 98%;
            @include box-shadow(4px, 4px, 20px, 0px, $darkshadow);
        }
    }
    
}
/* page */
body {
    
    background: $veryfair;
    font-family: Lato;
    color: $fairtext;
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    
    header, section, footer {
        float: left;
        width: 100%;
        border-bottom: 2px solid $fair;    
        
    }
    
    header {
        padding: 40px;
        text-align: center;
        
        h1 {
            font-size: 3em;
        }
        h2 {
            font-size: 2em;
        }
        h1, h2{
            animation: titlePulse infinite 2s alternate;
        }
        @keyframes titlePulse {
            from {
                opacity: 1;
            }
            to {
                opacity: 0.4
            }
        }
    }
    
    section {
        padding: 40px auto;
        
        .tile {
            >div {
                max-width: 30%;
                margin: 200px auto 200px auto;

                .painting {
                    display: block;
                    position: relative;
                    max-width: 100%;
                    padding: 0;
                    @include box-shadow(4px, 4px, 20px, 0px, $darkshadow);
                    transition: 0.5s ease;
                    &:hover {
                        @include box-shadow(4px, 4px, 30px, 0px, $darkshadow);
                        filter: grayscale(0);
                        transform: scale(1.05,1.05);
                    }
                }

            }
        }
    }
    
    footer {
        padding: 40px;
        text-align: center;
    }
}